body, html {
    height: 100%;
    margin: 0;
}

.bgPhoto {
    background-image: url("assets/Photos/NP_background1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.headerFont {
    font-family: 'Homemade Apple', cursive;
    font-size: 50px;
}

.welcomeFont, .btn {
    font-family: 'Gurajada', serif;
    font-size: 35px;
    color: white;
}

.btn-large, .btn-small {
    font-family: 'Gurajada', serif;
    font-size: 15px;
    color: white;
}
.cardTitle {
    font-family: 'Gurajada', serif;
    font-size: 35px;
}

.cardBody {
    font-family: 'Gurajada', serif;
    font-size: 20px;
}

.card-title {
    font-weight: bold;
}

.parkCol {
    margin: 10px;
    color: white;
}

.state-btn {
    margin: 10px;
}

.page-footer {
    font-family: 'Gurajada', serif;
    color: white;
}