body, html {
    height: 100%;
    margin: 0;
}

.bgPhoto {
    background-image: url("assets/Photos/NP_background1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.headerFont {
    font-family: 'Homemade Apple', cursive;
    font-size: 50px;
}

.welcomeFont, .btn {
    font-family: 'Gurajada', serif;
    font-size: 35px;
    color: white;
}

.cardTitle {
    font-family: 'Gurajada', serif;
    font-size: 35px;
}

.cardBody {
    font-family: 'Gurajada', serif;
    font-size: 20px;
}

